.homePage {
  margin: 0;
  padding: 30px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.pokeball {
  position: fixed;
  top: -3rem;
  right: -3.5rem;
  height: 180px;
  width: 180px;
  fill: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.titlePage {
  font-size: 28px;
  font-weight: bold;

  margin-bottom: 20px;
}

.pokesGrid {
  overflow: scroll;
  scrollbar-width: 0;
}

.pokesGrid::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.pokesGrid::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.pokesGrid::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(187, 190, 38, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 500px) {
  .pokesGrid {
    gap: 1rem !important;

    padding: .6rem 0;
    overflow-x: hidden;
  }
}


@media only screen and (max-width: 768px) {
  .pokesGrid::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .pokesGrid {
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 1rem !important;

    padding: .6rem 0;
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 1024px) {
  .pokesGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    gap: 1.5rem !important;

    padding: .6rem 0;
    overflow-x: hidden;
  }
}